.emptyAnswerBoxClass {
	display: flex;
	flex-direction: row;	
	padding: 30px;
}	

.eachLetterBox {
	padding: 23px;
	margin: 8px;
}

.answerContainerBox {
	background-color: white;
	display: flex;
	align-content: center;
	font-size: 50px;
	justify-content: center;
}

.hearts {
	max-width: 3%;
	height: auto;
}

.heartSilhouette {
	-webkit-filter: contrast(0) sepia(100%) hue-rotate(190deg) saturate(2000%) brightness(500%);
 	filter: contrast(0) sepia(30%) hue-rotate(-40deg) saturate(2000%) brightness(0%);
 	opacity: 1;
 	max-width: 3%;
	height: auto;
}