body {
	background: url('images/sky.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1 {
	color: white;
	font-family: 'Audiowide', cursive;
	-webkit-text-stroke: 2px black;
}


/* HEADER */
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	margin-bottom: -50px;
}
.title {
	font-size: 2.9rem;
	display: flex;
	flex-direction: row;
}
.area51 {
	display: flex;
	flex-direction: column;
	font-size: 2.5rem;
	color: black;
	-webkit-text-stroke: 1px green;
}
.scoreBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
	max-width: 50vw;
}
.hearts {
	max-width: 7%;
	height: auto;
}
.heartSilhouette {
 	filter: brightness(35%);
 	max-width: 7%;
	height: auto;
}
.lives {
	font-size: 30px;
	padding-top: 0;
}


/* COW & SHIP */
.ship {
	max-width: 14%;
	height: auto;
}
.cow {
	margin-top: -70px;
}
.moo {
	max-width: 6%;
	height: auto;
	padding-top: 130px;
}
.moo1 {
	max-width: 6%;
	height: auto;
	padding-top: 105px;
	padding-bottom:25px;
}
.moo2 {
	max-width: 6%;
	height: auto;
	padding-top: 80px;
	padding-bottom:50px;
}
.moo3 {
	max-width: 6%;
	height: auto;
	padding-top: 55px;
	padding-bottom:75px;
}
.moo4 {
	max-width: 6%;
	height: auto;
	padding-top: 30px;
	padding-bottom:100px;
}
.moo5 {
	max-width: 6%;
	height: auto;
	padding-top: 5px;
	padding-bottom:125px;
}
hr {
	max-width: 60%;
	margin-bottom: 18px;
}
.cloud9 {
	max-width: 20%;
	height: auto;
	padding-top: 29px;
	margin-bottom: 21px;
}


/* ANSWER BOX */
.emptyAnswerBoxClass {	
	color: rgba(255, 255, 255, 0.89);
}	
.answerContainerBox {
	background-color: rgba(0,0,0,.5);
	display: flex;
	align-content: center;
	justify-content: center;
	font-size: 3rem;
	padding: 10px;
}


/* KEYBOARD */
#buttonCSS {
	border-radius: 10px;
	border: 1px solid white;
	font-size: 1.2rem;
	margin: 2px;
}
#restart {
	background-color: #ffc707;
	color: black;
	font-weight: bold;
}


/* FOOTER */
footer {
	font-size: .75rem;
	margin: 20px 0 0 0;
	color: rgba(255, 255, 255, 0.64);
}


/* TABLET SCREEN (Horizontal)*/
@media only screen and (max-width: 1150px) {
	#buttonCSS {
		font-size: 1rem;
		margin: 1px;
		padding: ;
	}
}

/* TABLET SCREEN (Vertical) */
@media only screen and (max-width: 800px) {
	.header {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 0;
		height: 18vh;
	}
	.title {
		font-size: 3rem;
		padding-left: 25px;
	}
	.area51 {
		font-size: 2rem;
	}
	.lives {
		font-size: 2.5rem;
	}
	.spaceship {
		margin-top: 40px;
	}
	.ship {
		max-width: 15%;
		height: auto;
	}
	.cow {
		margin-top: -45px;
	}
	hr {
		max-width: 60%;
		margin-top: -12px;
		margin-bottom: 13px;
	}
	.answerContainerBox {
		font-size: 2rem;
		padding: 10px;
	}
	#buttonCSS {
		font-size: 2.5rem;
		margin: 1.9px; 
		padding: 0 18px;
		height: 5vh;
	}
}

/* iPhone 6 SCREEN (horizontal) */
@media only screen and (max-width:700px) {
	.header {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 0;
		height: 18vh;
	}
	.title {
		font-size: 1.9rem;
		padding-left: 15px;
	}
	.area51 {
		font-size: 1.2rem;
	}
	.lives {
		font-size: 1.5rem;
	}
	.spaceship {
		margin-top: 40px;
	}
	.ship {
		max-width: 8%;
		height: auto;
	}
	.cow {
		margin-top: -45px;
	}
	hr {
		max-width: 60%;
		margin-top: -12px;
		margin-bottom: 3px;
	}
	.answerContainerBox {
		font-size: .9rem;
		padding: 10px;
	}

	#buttonCSS {
		font-size: .9rem;
		margin: 1.5px; 
		padding: 0 18px 10px 18px;
		height: 6vh;
	}
}

/* iPhone 6 SCREEN (vertical) */
@media screen and (max-width: 425px) {
	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
	}
	.title {
		font-size: 2.5rem;
		margin: 10px 0;
	}
	.area51 {
		font-size: 1.5rem;
	}
	.scoreBox {
		max-width: 100px;
	}
	.lives {
		font-size: 1.9rem;
		width: 30vw;
		margin-top: 0;
	}
	.hearts {
		max-width: 4.4vw;
	}
	.heartSilhouette {
		 max-width: 4.4vw;
	}
	.cow {
		margin-top: -45px;
	}
	.spaceship {
		margin-top: 30px;
	}
	.answerContainerBox {
		font-size: 1rem;
		padding: 10px;
	}
	.keys {
		margin-top: 5px;
	}
	#buttonCSS {
		font-size: 1rem;
		margin: 1.5px; 
		padding: 0 9px;
	}
}